<nz-table
  [nzData]="users"
  [nzLoading]="loading"
  [nzPageSizeOptions]="[10, 20, 50]"
  [nzShowSizeChanger]="true"
  [nzShowTotal]="totalTemplate"
  [nzPageSize]="10"
  [nzTableLayout]="'fixed'"
  [nzScroll]="{ x: '1000px' }"
  [nzBordered]="true"
>
  <thead>
    <tr>
      <th>שם</th>
      <th>דוא"ל</th>
      <th>תפקיד</th>
      <th>פעולות</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button nz-button nzType="link" (click)="handleEdit(user.id)">ערוך</button>
        <nz-popconfirm
          (nzOnConfirm)="handleDelete(user.id)"
        >
          <button nz-button nzType="link" nz-popconfirm>מחק</button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #totalTemplate let-total let-range="range">
  מציג {{ range[0] }} עד {{ range[1] }} מתוך {{ total }} רשומות
</ng-template>
